/* Styles for Mobile devices */
body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: var(--primary-font);
  font-size: var(--fs-s);
  font-weight: var(--fw-light);
  letter-spacing: var(--ls-main);
  line-height: var(--lh-p);
  color: var(--color-dark);

  background-color: var(--color-light);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 380px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-extrabold);
  line-height: var(--lh-h);
  letter-spacing: var(--ls-main);

}

h2 {
  margin-bottom: 24px;
  font-size: var(--fs-h2);
  font-weight: var(--fw-extrabold);
  line-height: var(--lh-h);
  letter-spacing: var(--ls-main);
}

.accent-text {
  font-weight: var(--fw-semibold);
}

.accent-light-color {
  color: var(--color-accent-light);
}

.accent-dark-color {
  color: var(--color-accent-dark);
}

.uppercase-text {
  text-transform: uppercase;
}

.nav-link,
button {
  letter-spacing: var(--ls-tight);
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: var(--lh-b);
}

.button-call {
  width: 197px;
  padding: 10px 24px;
  font-size: var(--fs-m);
  font-weight: var(--fw-semibold);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
}

/* Styles for Desktop devices */
@media screen and (min-width: 1240px) {
  body {
    font-size: var(--fs-l);
    font-weight: var(--fw-regular);
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    max-width: 1320px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .button-call {
    min-width: 232px;
    padding: 16px 32px;
    font-size: var(--fs-l);
  }
}