@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/manrope-v20-cyrillic_latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v20-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/manrope-v20-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v20-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/manrope-v20-cyrillic_latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v20-cyrillic_latin-regular.woff2') format('woff2');
}