:root {
    --color-light: #faf4ea;
    --color-dark: #31261a;
    --color-accent-light: #819b57;
    --color-accent-dark: #465929;
    --color-input-text: #a18268;
    --color-input-border: #cfcfbc;
    ;


    --primary-font: "Manrope", sans-serif;
    --second-font: "Inter", sans-serif;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-extrabold: 800;


    /* Font Sizes */
    --fs-xs: 12px;
    --fs-s: 14px;
    --fs-m: 16px;
    --fs-l: 18px;
    --fs-xl: 20px;
    --fs-xxl: 24px;
    --fs-h2: 32px;
    --fs-h1: 67px;


    --lh-h: 1.2;
    --lh-b: 1.3;
    --lh-p: 1.5;


    --ls-main: -0.02em;
    --ls-tight: -0.04em;


    --anim-fast: 0.3s ease-in-out;
    --anim-slow: 0.5s cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 1240px) {
    :root {
        --fs-h1: 126px;
        --fs-h2: 64px;
    }
}