.advantages-section {
    padding-top: 40px;
    padding-bottom: 20px;
}

.advantages-list {
    max-width: 318px;
    background-color: var(--color-input-border);
    padding: 24px 40px;
    border-radius: 24px;
}

.advantages-item {
    margin-bottom: 16px;
}

@media screen and (min-width: 1240px) {
    .advantages-section {
        padding-top: 0px;
        padding-bottom: 0px;

    }

    .advantages-container {
        max-width: 1440px;
        background-color: var(--color-accent-light);
    }

    .advantages-list {
        max-width: 100%;
        background-color: transparent;
        padding: 16px 100px;
        border-radius: 0;

        display: flex;
        justify-content: space-between;

        font-size: var(--fs-xxl);
        font-weight: var(--fw-light);
        color: var(--color-light);
    }

    .advantages-item {
        margin-bottom: 0;
    }
}