.advantages-section {
    padding-top: 40px;
    padding-bottom: 20px;
}

.advantages-list {
    padding: 24px 40px;
    border-radius: 24px;
    background-color: var(--color-input-border);
}

.advantages-item {
    margin-bottom: 16px;
}

@media screen and (min-width: 1240px) {
    .advantages-section {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: var(--color-accent-light);
    }

    .advantages-list {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        padding: 16px 32px;
        border-radius: 0;
        background-color: transparent;
    }

    .advantages-text {
        font-size: var(--fs-xxl);
        font-weight: var(--fw-light);
        color: var(--color-light);
    }

    .advantages-item {
        margin-bottom: 0;
    }
}