.contacts-section {
    padding-bottom: 0;
}

.contacts-container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    overflow-x: hidden;
}

.contacts-form-box {
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.contacts-title {
    font-weight: var(--fw-semibold);
    text-align: center;
    margin-bottom: 8px;
}

.contacts-text {
    color: var(--color-accent-light);
    margin-bottom: 24px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.input-form {
    border: 1px solid var(--color-input-text);
    border-radius: 8px;
    background-color: transparent;
    font-size: var(--fs-m);
    padding: 8px 24px;
    /* transition: border-color var(--anim-fast); */
}

/* 
.input-form:hover,
.input-form:focus-within {
    border-color: var(--color-accent-dark);
} */

.input-form::placeholder {
    color: var(--color-input-text);
    font-size: var(--fs-m);
    opacity: 0.7;
}

/* 
.contacts-button {
    max-width: 197px;
    margin: 0 auto;
} */

.contacts-policy {
    display: none;
}

@media screen and (min-width: 1240px) {
    .contacts-section {
        padding-bottom: 96px;
    }

    .contacts-container {
        max-width: 1240px;

    }

    .contacts-form-box {
        padding: 0;

    }

    .contacts-box {
        display: flex;
        gap: 32px;
    }

    .contacts-title {
        font-weight: var(--fw-black);
        text-align: start;
        margin-bottom: 16px;
    }

    .contacts-text {
        color: var(--color-accent-light);
        margin-bottom: 42px;
    }

    .modal-form {
        gap: 24px;
    }

    .input-form {
        font-size: var(--fs-l);
        padding: 16px 42px;
    }

    .contacts-policy {
        display: block;
        max-width: 232px;
        font-size: var(--fs-xs);
        margin: 0 auto;
        text-align: center;
    }

    .contacts-map-box iframe {
        border: 0;
        display: block;
        min-width: 595px;
        min-height: 603px;
    }
}