.contacts-section {
    padding-bottom: 0;
}

.contacts-container {
    overflow-x: hidden;
}

.contacts-form-box {
    padding-bottom: 24px;
}

.contacts-title {
    margin-bottom: 8px;
    font-weight: var(--fw-semibold);
    text-align: center;
}

.contacts-text {
    margin-bottom: 24px;
    color: var(--color-accent-light);
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-field {
    position: relative;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 4px;
    background-color: var(--color-light);
    color: var(--color-input-text);
    pointer-events: none;
    transition: all var(--anim-fast);
}

.input-form {
    width: 100%;
    padding: 8px 24px;
    border: 1px solid var(--color-input-text);
    border-radius: 8px;
    font-size: var(--fs-m);
    background-color: transparent;
    outline: none;
    transition: border-color var(--anim-fast);
}

.input-form:focus {
    border-color: var(--color-accent-light);
    box-shadow: 0 0 4px 2px rgba(129, 107, 75, 0.2);
}

.input-form:focus+.form-label,
.input-form:not(:placeholder-shown)+.form-label {
    top: 0;
    font-size: 12px;
    color: var(--color-accent-light);
}


.input-form:not(:placeholder-shown):invalid {
    border-color: #ff4d4d;
}

.input-form:not(:placeholder-shown):valid {
    border-color: #4caf50;
}

.input-form::placeholder {
    font-size: var(--fs-m);
    color: var(--color-input-text);
    opacity: 0.7;
}

.contacts-policy {
    display: none;
}

.contacts-map-box iframe {
    display: block;
    width: 100%;
    height: 176px;
    border: 0;
}

@media screen and (min-width: 1240px) {
    .contacts-section {
        padding-bottom: 96px;
    }

    .contacts-form-box {
        padding: 0;
    }

    .contacts-box {
        display: flex;
        gap: 32px;
    }

    .contacts-title {
        font-weight: var(--fw-extrabold);
        text-align: start;
    }

    .contacts-text {
        margin-bottom: 42px;
        color: var(--color-accent-light);
    }

    .modal-form {
        gap: 24px;
    }

    .input-form {
        padding: 16px 42px;
        font-size: var(--fs-l);
    }

    .contacts-policy {
        display: block;
        max-width: 232px;
        margin: 0 auto;
        text-align: center;
        font-size: var(--fs-xs);
    }

    .contacts-map-box iframe {
        min-width: 595px;
        min-height: 603px;
        border-radius: 16px;
    }
}