.formats-title {
    text-align: center;
}

.formats-card-item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.formats-card-item:not(:first-child) {
    display: none;
}

.formats-card-img {
    display: block;
    line-height: 0;
}

.formats-card-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 27.54%,
            rgba(49, 38, 26, 0.71) 72.92%,
            #31261a 100%);
    pointer-events: none;
    z-index: 1;
}

.formats-card-img img {
    display: block;
    width: 100%;
    height: 442px;
    object-fit: cover;
    object-position: center;
}

.formats-card-text {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 24px;

    z-index: 2;
    color: var(--color-light);
}

.formats-card-title {
    margin-bottom: 16px;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-xl);
}

@media screen and (min-width: 1240px) {
    .formats-title {
        margin-bottom: 80px;
        text-align: center;
    }

    .formats-box {
        display: flex;
        gap: 34px;
        align-items: center;
        justify-content: center;
    }

    .formats-cards-list {
        display: flex;
        gap: 20px;
    }

    .formats-card-item:not(:first-child) {
        display: block;
    }

    .formats-card-img img {
        height: 444px;
    }

    .formats-card-text p {
        font-size: var(--fs-s);
        font-weight: var(--fw-light);
        line-height: 1.5;
        letter-spacing: var(--ls-main);
    }

    .formats-card-title {
        margin-bottom: 24px;
        font-size: var(--fs-xxl);

    }
}