.hero-section {
    background-color: var(--color-dark);
    background-image:
        linear-gradient(122deg,
            rgba(18, 18, 17, 0.78) 0%,
            rgba(18, 18, 17, 0.6) 58.19%,
            rgba(18, 18, 17, 0) 100%),
        url(/src/img/hero/hero-bi-m@1x.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image:
            linear-gradient(122deg,
                rgba(18, 18, 17, 0.78) 0%,
                rgba(18, 18, 17, 0.6) 58.19%,
                rgba(18, 18, 17, 0) 100%),
            url(/src/img/hero/hero-bi-m@2x.webp);
    }
}

.hero-container {
    text-align: center;
    min-height: 378px;
    padding-top: 124px;

}

.hero-title {
    margin-bottom: 48px;
    color: var(--color-light);
}

@media screen and (min-width: 1240px) {
    .hero-section {
        background-image:
            linear-gradient(122deg,
                rgba(18, 18, 17, 0.78) 0%,
                rgba(18, 18, 17, 0.6) 58.19%,
                rgba(18, 18, 17, 0) 100%),
            url(/src/img/hero/hero-bi-d@1x.webp);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                linear-gradient(122deg,
                    rgba(18, 18, 17, 0.78) 0%,
                    rgba(18, 18, 17, 0.6) 58.19%,
                    rgba(18, 18, 17, 0) 100%),
                url(/src/img/hero/hero-bi-d@2x.webp);
        }
    }

    .hero-container {
        min-height: 736px;
        padding-top: 272px;
    }

    .hero-title {
        margin-bottom: 0px;
    }
}