.hero-section {
    background-image:
        linear-gradient(122deg,
            rgba(18, 18, 17, 0.78) 0%,
            rgba(18, 18, 17, 0.6) 58.19%,
            rgba(18, 18, 17, 0) 100%),
        url(/src/img/hero/hero-bi-m@1x.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    /* padding-bottom: 20px; */
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image:
            linear-gradient(122deg,
                rgba(18, 18, 17, 0.78) 0%,
                rgba(18, 18, 17, 0.6) 58.19%,
                rgba(18, 18, 17, 0) 100%),
            url(/src/img/hero/hero-bi-m@2x.webp);
    }
}

.hero-container {
    min-height: 378px;
    text-align: center;
    margin: 0 auto;
}





.hero-title {
    padding-top: 124px;
    margin-bottom: 48px;


}

.accent-light-color {
    color: var(--color-accent-light);
}

.hero-button {
    display: block;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (min-width: 1240px) {
    .hero-section {
        max-width: 1440px;
        /* padding-bottom: 48px; */
        background-image:
            linear-gradient(122deg,
                rgba(18, 18, 17, 0.78) 0%,
                rgba(18, 18, 17, 0.6) 58.19%,
                rgba(18, 18, 17, 0) 100%),
            url(/src/img/hero/hero-bi-d@1x.webp);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                linear-gradient(122deg,
                    rgba(18, 18, 17, 0.78) 0%,
                    rgba(18, 18, 17, 0.6) 58.19%,
                    rgba(18, 18, 17, 0) 100%),
                url(/src/img/hero/hero-bi-d@2x.webp);
        }
    }

    .hero-container {
        min-height: 736px;
    }

    .hero-title {
        padding-top: 272px;
        margin-bottom: 0px;
    }

    .hero-button {
        display: none;
    }
}