.traditions-description {
    margin-bottom: 16px;
    font-size: var(--fs-m);
}

.traditions-image {
    display: none;
}

@media screen and (min-width: 1240px) {
    .traditions-container {
        display: flex;
        justify-content: space-between;
    }

    .traditions-text-box {
        max-width: 600px;
    }

    .traditions-title {
        margin-bottom: 42px;
    }

    .traditions-description {
        margin-bottom: 42px;
        font-size: var(--fs-l);
    }

    .traditions-image-box {
        padding-right: 50px;
    }

    .traditions-image {
        display: block;
        border-radius: 400px 400px 0 0;
    }
}