.section-title {
    margin-bottom: 24px;
}

.traditions-description {
    font-size: var(--fs-m);
    max-width: 300px;
    margin-bottom: 16px;
}

.accent-light-color {
    color: var(--color-accent-light);
}

.accent-text {
    font-weight: var(--fw-semibold);

}

.uppercase-text {
    text-transform: uppercase;
}

.traditions-image {
    display: none;
}

@media screen and (min-width: 1240px) {
    .traditions-container {
        display: flex;
    }

    .section-title {
        margin-bottom: 42px;
    }

    .traditions-description {
        font-size: var(--fs-l);
        font-weight: var(--fw-regular);
        max-width: 660px;
        margin-bottom: 42px;
    }



    .traditions-image {
        display: block;
        border-radius: 400px 400px 0 0;
    }

    .section {}

    .traditions-section {}

    .container {}

    .traditions-container {}

    .traditions-text-box {}

    .traditions-image-box {}
}