/* .traditions-title {
    margin-bottom: 24px;
} */

.traditions-description {
    font-size: var(--fs-m);
    max-width: 300px;
    margin-bottom: 16px;
}


.traditions-image {
    display: none;
}

@media screen and (min-width: 1240px) {
    .traditions-container {
        display: flex;
        justify-content: space-between;
    }

    .traditions-title {
        margin-bottom: 42px;


    }

    .traditions-description {

        max-width: 560px;
        margin-bottom: 42px;
    }



    .traditions-image {
        display: block;
        border-radius: 400px 400px 0 0;
    }

}