.footer {
    position: relative;
    background-color: var(--color-dark);
    background-image: url(/src/img/footer/footer-bi-m@1x.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-weight: var(--fw-light);
}

@media (min-resolution: 192dpi) {
    .footer {
        background-image: url(/src/img/footer/footer-bi-m@2x.webp);
    }
}

.footer::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 85px;
    height: 206px;
    background-image: url(/src/img/footer/footer-bi-bl-m@1x.webp);
    background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
    .footer::before {
        background-image: url(/src/img/footer/footer-bi-bl-m@2x.webp);
    }
}

.footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 102px;
    height: 91px;
    background-image: url(/src/img/footer/footer-bi-br-m@1x.webp);
    background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
    .footer::after {
        background-image: url(/src/img/footer/footer-bi-m@2x.webp);
    }
}

.footer-container {
    text-align: center;
    color: var(--color-light);
    padding: 32px;
}

/* .footer-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
} */

.footer-nav {
    margin-bottom: 18px;
    opacity: 0.8;
    transition:
        opacity var(--anim-fast),
        color var(--anim-fast);
}

.footer-nav:hover,
.footer-nav:focus-visible {
    opacity: 1;
    color: var(--color-accent-light);
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-address-list {
    display: flex;
    font-style: normal;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 8px;
}

/* .footer-social-icon {
    fill: var(--color-light);
} */

.footer-policy {
    margin-bottom: 8px;
}

.footer-copyright {
    font-size: var(--fs-xs);
    font-weight: var(--fw-regular);
    color: var(--color-input-text);
}

@media screen and (min-width: 1240px) {
    .footer {
        background-image: url(/src/img/footer/footer-bi-d@1x.webp);
    }

    @media (min-resolution: 192dpi) {
        .footer {
            background-image: url(/src/img/footer/footer-bi-d@2x.webp);
        }
    }

    .footer::before {
        left: 0;
        bottom: 0;
        width: 179px;
        height: 121px;
        background-image: url(/src/img/footer/footer-bi-bl-d@1x.webp);
    }

    @media (min-resolution: 192dpi) {
        .footer::before {
            background-image: url(/src/img/footer/footer-bi-bl-d@2x.webp);
        }
    }

    .footer::after {
        width: 378px;
        height: 187px;
        background-image: url(/src/img/footer/footer-bi-br-d@1x.webp);
    }

    @media (min-resolution: 192dpi) {
        .footer::after {
            background-image: url(/src/img/footer/footer-br-d@2x.webp);
        }
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 0;
    }

    /* 
    .footer-logo {
        margin: 0;
        width: 108px;
        height: 57px;
    } */

    .footer-nav {
        margin-bottom: 0;
    }

    .footer-nav-list {
        align-items: start;
        gap: 16px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: left;
    }

    .footer-address-list {
        gap: 16px;
        font-size: var(--fs-m);
        font-weight: var(--fw-light);
        margin-bottom: 0;
    }

    .footer-social-list {
        display: flex;
        justify-content: left;
        gap: 16px;
        margin-bottom: 0;
    }

    .footer-policy {
        margin-bottom: 16px;
        font-size: var(--fs-m);
        font-weight: var(--fw-light);
    }

    .footer-copyright {
        font-size: var(--fs-s);
    }
}