.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(18, 18, 17, 0.2) 0%, rgba(18, 18, 17, 0.2) 100%);
}

.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-nav {
    display: none;
}

@media screen and (min-width: 1240px) {
    .header-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-nav {
        display: block;
        margin-top: 12px;
        font-size: var(--fs-l);
        color: var(--color-light);
    }

    .header-nav-list {
        display: flex;
        gap: 64px;
    }

    .nav-link {
        padding: 16px 0;
        transition: color var(--anim-fast);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--color-accent-light);
    }
}