.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(122deg,
            rgba(18, 18, 17, 0.78) 0%,
            rgba(18, 18, 17, 0.4) 58.19%,
            rgba(18, 18, 17, 0) 100%);
}


.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
}


.header-logo {
    fill: var(--color-light);
}

.burger-menu {
    display: flex;
}

.burger-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-light);
}

.header-nav {
    display: none;
}

.header-button {
    display: none;
}

@media screen and (min-width: 1240px) {
    .header-container {
        align-items: center;
        padding: 24px 20px;

        font-size: var(--fs-l);
        color: var(--color-light);
    }

    .header-logo {
        width: 114px;
        height: 56px;
        transition: fill var(--anim-fast);
    }

    .header-logo:hover,
    .header-logo:focus {
        fill: var(--color-accent-light);
    }

    .header-nav {
        display: block;
    }

    .header-nav-list {
        display: flex;
        gap: 64px;
    }

    .header-nav-item {
        padding: 16px 0;
        transition: color var(--anim-fast);
    }

    .header-nav-item:hover,
    .header-nav-item:focus {
        color: var(--color-accent-light);
    }

    .header-button {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}