.button {
    font-family: var(--primary-font);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-m);
    color: var(--color-light);
    background-color: var(--color-accent-light);
    border: 2px solid var(--color-accent-light);
    border-radius: 8px;
    padding: 10px 24px;
    line-height: 1.3;
    transition:
        border-color var(--anim-fast),
        background-color var(--anim-fast),
        color var(--anim-fast);
}

.button:hover,
.button:focus {
    border-color: var(--color-accent-dark);
    background-color: var(--color-light);
    color: var(--color-accent-dark);
}

@media screen and (min-width: 1240px) {
    .button {
        font-size: var(--fs-l);
        padding: 16px 32px;
    }
}

.button-scroll {
    position: fixed;
    z-index: 1000;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent-light);
    border: 2px solid var(--color-accent-light);
    border-radius: 50%;
    opacity: 0.5;
    /*visibility: hidden;
    pointer-events: none; */

    transition:
        opacity var(--anim-fast),
        background-color var(--anim-fast),
        border-color var(--anim-fast);
}

.button-scroll:hover,
.button-scroll:focus {
    opacity: 1;
    background-color: var(--color-light);
    border-color: var(--color-accent-dark);
}

/* 
.button-scroll.is-visible {
    opacity: 0.7;
    visibility: visible;
    pointer-events: auto;
} */

.button-scroll-icon {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-light);
    transition: fill var(--anim-fast);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var(--color-accent-dark);
}

.button-scroll-up {
    bottom: 80px;
    right: 20px;
}

.button-scroll-down {
    bottom: 20px;
    right: 20px;
}



.button-scroll-up .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(270deg);
}