/*  ----------------  Кнопка  "Burger"   ----------- */


@media screen and (min-width: 1240px) {
    .burger-menu {
        display: none;
    }
}

/*    ----------------  Кнопки "Замовити дзінок"   ----------- */
.button-call {
    padding: 10px 24px;
    border: 2px solid var(--color-accent-light);
    border-radius: 8px;

    font-size: var(--fs-m);
    font-weight: var(--fw-semibold);
    color: var(--color-light);

    background-color: var(--color-accent-light);
    transition:
        color var(--anim-fast),
        background-color var(--anim-fast),
        border-color var(--anim-fast);
}

.button-call:hover,
.button-call:focus {
    color: var(--color-accent-dark);
    background-color: var(--color-light);
    border-color: var(--color-accent-dark);
}

@media screen and (min-width: 1240px) {
    .button-call {
        padding: 16px 32px;
        font-size: var(--fs-l);
    }
}

/*    ----------------  Кнопка в Heder "Замовити дзінок"   ----------- */
.header-button {
    display: none;
}

@media screen and (min-width: 1240px) {
    .header-button {
        display: flex;
    }
}

/*    ----------------  Кнопка в Hero "Замовити дзінок"   ----------- */
.hero-button {
    margin: 0 auto 32px;
}

@media screen and (min-width: 1240px) {
    .hero-button {
        display: none;
    }
}

/*    ----------------  Кнопки Вліво/Вправо "Формати"   ----------- */
.formats-button {
    display: none;
}

@media screen and (min-width: 1240px) {
    .formats-button {
        display: flex;
        width: 44px;
        height: 44px;
        border: 2px solid var(--color-dark);
        border-radius: 50%;

        color: var(--color-dark);
        background-color: transparent;

        transition:
            color var(--anim-fast),
            background-color var(--anim-fast),
            border-color var(--anim-fast);
    }

    .formats-button:hover,
    .formats-button:focus {
        color: var(--color-light);
        background-color: var(--color-accent-light);
        border-color: var(--color-accent-light);
    }

    .formats-button-next {
        transform: rotate(180deg);
    }
}

/*    ----------------  Кнопка в формі зворотнього зв'язку "Замовити дзінок"   ----------- */
.contacts-button {
    margin: 0 auto;
    width: 100%;
    max-width: 197px;
}

/*    ----------------  Кнопки "Нагору/Вниз"   ----------- */

.button-scroll {
    position: fixed;
    z-index: 1000;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--color-accent-light);
    border-radius: 50%;
    color: var(--color-dark);
    background-color: var(--color-accent-light);
    opacity: 0.5;

    transition:
        background-color var(--anim-fast),
        border-color var(--anim-fast),
        opacity var(--anim-fast);
}

.button-scroll:hover,
.button-scroll:focus {
    border-color: var(--color-accent-dark);
    background-color: var(--color-light);
    opacity: 1;
}

.button-scroll-up {
    bottom: 80px;
    right: 20px;
}

.button-scroll-down {
    bottom: 20px;
    right: 20px;
}

/*    ----------------  Кнопка закриття мобільного меню   ----------- */

.button-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    transition: stroke var(--anim-fast);
}

.mobile-menu-button-close {
    top: 16px;
    right: 24px;
}