.button {
    font-family: var(--primary-font);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-m);
    color: var(--color-light);
    background-color: var(--color-accent-light);
    border: 2px solid var(--color-accent-light);
    border-radius: 8px;
    padding: 10px 24px;
    line-height: 1.3;
    transition:
        background-color var(--anim-fast),
        color var(--anim-fast);
}

.button:hover,
.button:focus {
    border-color: var(--color-accent-dark);
    background-color: var(--color-light);
    color: var(--color-accent-dark);
}

@media screen and (min-width: 1240px) {
    .button {
        font-size: var(--fs-l);
        padding: 16px 32px;
    }
}