.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 380px;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--color-light);
    overflow-y: auto;
}

.button-close {
    width: 32px;
    height: 32px;
}

.modal-title {
    max-width: 240px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.modal .modal-text {
    margin-bottom: 16px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.modal-form {
    gap: 16px;
}



.modal-stamp {
    display: none;
}

@media screen and (min-width: 1240px) {
    .modal {
        max-height: 95vh;
        max-width: 880px;
        max-height: 880px;
        padding: 64px 128px;
    }

    .modal-title {
        max-width: 400px;
        margin-bottom: 8px;
    }

    .modal .modal-text {
        margin-bottom: 32px;
    }

    .modal-stamp {
        display: block;
    }

    .modal::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 147px;
        height: 231px;
        background-image: url(/src/img/modal-mobile/modal-bi-m@1x.webp);
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
    }

    @media (min-resolution: 192dpi) {
        .modal::before {
            background-image: url(/src/img/modal-mobile/modal-bi-m@2x.webp);
        }
    }

}