<section class="section advantages-section" id="advantages-section">
  <div class="container advantages-container">
    <h2 class="section-title visually-hidden">Переваги інвестицій у наш бізнес</h2>

    <ul class="advantages-list">
      <li class="advantages-item">
        <p class="advantages-text">Великий попит на ринку</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text">Доступні за бюджетом формати</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text">Досвідчена управлінська команда</p>
      </li>
    </ul>
  </div>
</section>
