<section class="section contacts-section" id="contacts-section">
  <div class="container contacts-container">
    <div class="contacts-box">
      <div class="contacts-form-box">
        <h2 class="section-title contacts-title">Приєднуйся до мережі пекарень </h2>
        <p class="contacts-text">Заповни форму, щоб ми звʼязались з тобою!</p>
        <form class="modal-form contacts-form">
          <div class="form-field">
            <input
              class="input-form contact-input"
              type="text"
              name="name"
              id="name"
              pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ ]+"
              title="Тільки літери"
              placeholder=" "
              required /><label class="form-label" for="name">Ім'я</label></div
          >

          <div class="form-field">
            <input
              class="input-form contact-input"
              type="tel"
              name="phone"
              id="tel"
              pattern="\+380\d{9}"
              title="+380XXXXXXXXX"
              placeholder=" "
              required /><label class="form-label" for="tel">Телефон</label></div
          >

          <div class="form-field">
            <input
              class="input-form contact-input"
              type="email"
              name="email"
              id="email"
              title="Введіть коректний email"
              placeholder=" "
              required /><label class="form-label" for="email">Електронна пошта</label></div
          >

          <button class="button contacts-button button-call" type="submit">Замовити дзвінок</button>

          <p class="policy contacts-policy"
            >Натискаючи на кнопку я погоджуюсь з
            <span class="form-link contacts-link">
              <a href="#" target="_blank">політикою конфіденційності</a>
            </span>
          </p>
        </form>
      </div>

      <div class="contacts-map-box">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.163447042478!2d30.488693011697436!3d50.45668098679724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce637c006b2d%3A0xaf86385f19996ff0!2z0LLRg9C70LjRhtGPINCh0ZbRh9C-0LLQuNGFINCh0YLRgNGW0LvRjNGG0ZbQsiwgNTQsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1770468454405!5m2!1suk!2sua"
          width="595"
          height="603"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
