<section class="footer" id="footer">
  <div class="container footer-container">
    <svg class="logo footer-logo" width="72" height="38">
      <use href="/icons/sprite.svg#icon-logo"></use>
    </svg>

    <nav class="footer-nav">
      <ul class="nav-list footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#traditions-section">Наші традиції</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#chefs-section">Шеф-кухарі</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#formats-section">Формати</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#contacts-section">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="footer-info">
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item"><a href="tel:+380960000007">+ 38 (096) 000 00 07</a></li>
          <li class="footer-address-item"
            ><a href="mailto:shopbakery@gmail.com">shopbakery@gmail.com</a></li
          >
          <li class="footer-address-item"
            ><p
              >Україна, м. Київ,<br />
              вул. Січових Стрільців 54</p
            ></li
          >
        </ul>
      </address>
      <div class="footer-social-box">
        <ul class="footer-social-list">
          <li class="footer-social-item"
            ><a href="#" class="footer-social-link" aria-label="Facebook"
              ><svg class="footer-social-icon" width="32" height="32" aria-hidden="true">
                <use href="/icons/sprite.svg#icon-facebook"></use></svg></a
          ></li>
          <li class="footer-social-item"
            ><a href="#" class="footer-social-link" aria-label="Instagram"
              ><svg class="footer-social-icon" width="32" height="32" aria-hidden="true">
                <use href="/icons/sprite.svg#icon-instagram"></use></svg></a
          ></li>
        </ul>
      </div>
    </div>
    <div>
      <p class="footer-policy">Політика конфіденційності</p>
      <p class="footer-copyright">&copy; 2026 Дані захищені</p>
    </div>
  </div>
</section>
