<section class="section" id="formats-section">
  <div class="container formats-container">
    <h2 class="section-title">Формати</h2>
    <div class="formats-box">
      <button type="button" class="formats-button formats-button-prev"
        ><svg width="44" height="44">
          <use href="/img/sprite.svg#icon-arrow"></use></svg
      ></button>
      <div class="formats-cards-box">
        <article class="formats-card">
          <div class="formats-card-img">
            <img
              src="/img/formats/formats-walrus-d@1x.webp"
              srcset="
                /img/formats/formats-walrus-d@1x.webp 1x,
                /img/formats/formats-walrus-d@2x.webp 2x
              "
              alt="Фотографія пекарні walrus"
              width="321"
              height="442" />
          </div>
          <div class="formats-card-text">
            <h4 class="formats-card-title" lang="en">Walrus</h4>
            <p>Площа: до 120 м<sup>2</sup></p>
            <p>Меню: розширене меню </p>
            <p>Штат: 2 продавці-касири, 2 пекарі, 2 помічники пекаря, 2 офіціанти-різнороби</p>
            <p>Посадкові місця: є</p>
          </div>
        </article>
        <article class="formats-card">
          <div class="formats-card-img">
            <img
              src="/img/formats/formats-horseshoe-d@1x.webp"
              srcset="
                /img/formats/formats-horseshoe-d@1x.webp 1x,
                /img/formats/formats-horseshoe-d@2x.webp 2x
              "
              alt="Фотографія пекарні horseshoe"
              width="321"
              height="442" />
          </div>
          <div class="formats-card-text">
            <h4 class="formats-card-title" lang="en">Horseshoe</h4>
            <p>Площа: до 25 м<sup>2</sup> </p>
            <p>Меню: найпопулярніші позиції меню</p>
            <p>Штат: 2 продавці-касири, 2 пекарі, 1 помічник пекаря</p>
            <p>Посадкові місця: відсутні</p>
          </div>
        </article>
        <article class="formats-card">
          <div class="formats-card-img">
            <img
              src="/img/formats/formats-handlebar-d@1x.webp"
              srcset="
                /img/formats/formats-handlebar-d@1x.webp 1x,
                /img/formats/formats-handlebar-d@2x.webp 2x
              "
              alt="Фотографія пекарні handlebar"
              width="321"
              height="442" />
          </div>
          <div class="formats-card-text">
            <h4 class="formats-card-title" lang="en">Handlebar</h4>
            <p>Площа: до 15 м<sup>2</sup> </p>
            <p>Меню: найпопулярніші позиції меню </p>
            <p>Штат: 1 продавець, 1 пекар, 1 помічник пекаря</p>
            <p>Посадкові місця: відсутні</p>
          </div>
        </article>
        <article class="formats-card">
          <div class="formats-card-img">
            <img
              src="/img/formats/formats-horseshoe-d@1x.webp"
              srcset="
                /img/formats/formats-horseshoe-d@1x.webp 1x,
                /img/formats/formats-horseshoe-d@2x.webp 2x
              "
              alt="Фотографія пекарні horseshoe"
              width="321"
              height="442" />
          </div>
          <div class="formats-card-text">
            <h4 class="formats-card-title" lang="en">Horseshoe</h4>
            <p>Площа: до 25 м<sup>2</sup> </p>
            <p>Меню: найпопулярніші позиції меню</p>
            <p>Штат: 2 продавці-касири, 2 пекарі, 1 помічник пекаря</p>
            <p>Посадкові місця: відсутні</p>
          </div>
        </article>
      </div>
      <button type="button" class="formats-button formats-button-next"
        ><svg width="44" height="44">
          <use href="/img/sprite.svg#icon-arrow"></use></svg
      ></button>
    </div>
  </div>
</section>
