<header class="header">
  <div class="container header-container">
    <div class="logo">
      <a href="#" class="logo-text" lang="en"> Shop <span class="bold-logo-text">bakery</span> </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#traditions-section">Наші традиції</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#chefs-section">Шеф-кухарі</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#formats-section">Формати</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts-section">Контакти</a>
        </li>
      </ul>
    </nav>
    <button class="button" type="button">Замовити дзвінок</button>
  </div>
</header>
