<!-- <div class="menu is-open">
  <button class="button-close menu-close" type="button">
    <svg class="modal-close-icon" width="32" height="32">
      <use href="./src/img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <svg class="header-logo modal-logo" width="72" height="38">
      <use href="./src/img/sprite.svg#icon-logo"></use>
    </svg>
  <nav class="menu-nav">
    <ul class="nav-list menu-nav-list">
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#traditions-section">Наші традиції</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#chefs-section">Шеф-кухарі</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#formats-section">Формати</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#contacts-section">Контакти</a>
      </li>
    </ul>
  </nav>
</div> -->
