<div class="mobile-menu">
  <button class="button-close mobile-menu-button-close" type="button" aria-label="Закрити меню">
    <svg class="button-close-icon" width="24" height="24">
      <use href="/icons/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <a class="logo modal-logo" href="#" aria-label="Логотип пекарні"
    ><svg class="modal-logo-icon" width="72" height="38" aria-label="icon-logo">
      <use href="/icons/sprite.svg#icon-logo"></use></svg
  ></a>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-nav-list">
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="#traditions-section">Наші традиції</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="#chefs-section">Шеф-кухарі</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="#formats-section">Формати</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="#contacts-section">Контакти</a>
      </li>
    </ul>
  </nav>
  <svg class="stamp menu-stamp" width="138" height="138" aria-label="Фірмовий штамп пекарні">
    <use href="/icons/sprite.svg#icon-group"></use>
  </svg>
</div>
