<section class="section traditions-section" id="traditions-section">
  <div class="container traditions-container">
    <div class="traditions-text-box">
      <h2 class="section-title traditions-title">Новий формат традицій</h2>

      <p class="traditions-description">
        <span class="accent-light-color accent-text uppercase-text" lang="en">shop bakery</span>
        &mdash; це пекарня, яка взяла все найкраще, і зберегла смак традиційної випічки та
        натуральність інгредієнтів.
      </p>
      <p class="traditions-description">
        Ми працюємо як найвідоміші мережі &mdash; <br />
        <span class="accent-light-color accent-text">5 хвилин і замовлення готове.</span><br />
        А ще у наших пекарень стильний дизайн <br />
        та висока якість обслуговування!
      </p>
    </div>
    <div class="traditions-image-box">
      <img
        class="traditions-image"
        alt="Чоловік в пекарні дивиться з посмішкою на свіжу випічку"
        width="393"
        height="466"
        src="./src/img/traditions/tradition-image-d@1x.webp"
        srcset="
          ./src/img/traditions/tradition-image-d@1x.webp 1x,
          ./src/img/traditions/tradition-image-d@2x.webp 2x
        "
        loading="lazy"
        decoding="async" />
    </div>
  </div>
</section>
